@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Jokerman';
    src: local('Jokerman'), url('/path-to-jokerman-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  .jokerman-font {
    font-family: 'Jokerman';
  }